@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Indoor Plants!</h1>
    
</div>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <style>
        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: green;
            color: white;
        }
    </style>
</head>
<section>
    <div class="row Card-body">
        <div class="col-md-3">
            <div class="card">
                <img src="~/image/1.jpg" alt="Denim Jeans" style="width:250px; height:250px;">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/image/2.jpg" alt="Denim Jeans" style="width:250px; height:250px;">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable..</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/image/5.jpg" alt="Denim Jeans" style="width:250px; height:250px; ">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="~/image/3.jpg" alt="Denim Jeans" style="width:250px; height:250px;">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable..</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="~/image/7.jpg" alt="Denim Jeans"style="width:250px; height:250px;">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/image/5.jpg" alt="Denim Jeans"style="width:250px; height:250px;">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/image/5.jpg" alt="Denim Jeans" style="width:250px; height:250px;">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable..</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/image/6.jpg" alt="Denim Jeans" style="width:250px; height:250px;">
                <h1>Aloe Vera</h1>
                <p class="price">$19.99</p>
                <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
    </div>

</section>
